:root {
    --suit-soldier-color: #e71e6f;
    --shadow-suit-soldier-color: #c6175f;
    --shadow-head-soldier-color: #5c0b2c;
    --white-color: #ffffff;
    --black-common: #1a1812;
}

body {
    background: #0c0c0c;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-width: 700px;
    min-height: 700px;
}

.card {
    background: #a58f5e;
    cursor: pointer;
    width: 520px;
    height: 275px;
    border-radius: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card > * {
    color: var(--black-common);
}

.circle {
    border-radius: 50%;
    border: 12px solid var(--black-common);
    width: 110px;
    height: 110px;
}

.triangle {
    transform: scale(6);
    width: 25px;
    height: 18px;
    border-bottom: 2px solid;
    overflow: hidden;
}

.triangle::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 2px solid;
    border-top: 2px solid;
    border-bottom: 2px solid transparent;
    transform: rotate(45deg) skew(10deg, 10deg);
    left: 1px;
    bottom: -13px;
    color: var(--black-common);
}

.square {
    width: 100px;
    height: 100px;
    border: 12px solid var(--black-common);
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.card #soldier:target {
    display: none;
}

.soldier {
    display: none;
    width: 650px;
    height: 650px;
    border-radius: 50%;
    border: 8px solid var(--suit-soldier-color);
    grid-template-rows: 55% 45%;
    overflow: hidden;
    justify-content: center;
    position: absolute;
    background: linear-gradient(to right, #78b8c3, #3a727a, #25474d);
}

#soldier:target {
    display: grid;
}

.head-soldier {
    background: var(--suit-soldier-color);
    border-radius: 50% 50% 34% 45%;
    width: 300px;
    height: 100%;
    margin-top: 40px;
    z-index: 2;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.shadow-head {
    background: var(--shadow-head-soldier-color);
    width: 249px;
    height: 94%;
    margin-top: 20px;
    margin-left: 16px;
    border-radius: 50% 70% 45% 50%;
    justify-content: center;
    display: flex;
    overflow: hidden;
}

.mask {
    background: radial-gradient(#3e3e3e, #0a0a0a);
    width: 100%;
    height: 95%;
    border-radius: 50% 50% 50% 50% / 40% 40% 65% 65%;
    margin-top: 10px;
    overflow: hidden;
}

.body-soldier {
    background: var(--suit-soldier-color);
    border: 6px solid var(--suit-soldier-color);
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
    width: 200%;
    margin-left: -145px;
    position: relative;
    justify-content: center;
    display: flex;
}

.body-soldier::after,
.body-soldier::before {
    content: '';
    width: 130px;
    top: 40px;
    position: absolute;
    height: 14px;
    background: var(--shadow-suit-soldier-color);
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
}

.body-soldier::after {
    transform: rotate(28deg);
    right: 75px;
}

.body-soldier::before {
    transform: rotate(-36deg);
    left: 75px;
}

.grip {
    position: absolute;
    height: 110%;
    width: 24px;
    background: var(--black-common);
    display: flex;
    justify-content: center;
}

.grip::before {
    content: '';
    display: block;
    background: #777;
    width: 2%;
    height: 100%;
}

.pocket {
    width: 15%;
    height: 30%;
    border: 6px solid var(--shadow-suit-soldier-color);
    position: absolute;
    right: 120px;
    bottom: 0;
}

.pocket::after,
.pocket::before {
    content: '';
    background: var(--shadow-suit-soldier-color);
    position: absolute;
}

.pocket::before {
    width: 100%;
    top: 36px;
    height: 4px;
}

.pocket::after {
    border-radius: 60%;
    width: 14px;
    height: 14px;
    right: 36px;
    top: 15px;
}

.symbol {
    width: 90px;
    height: 90px;
    border: 8px solid var(--white-color);
    transform-style: preserve-3d;
    transform: rotateX(8deg);
}

.front-mask {
    width: 100%;
    height: 45%;
    border-radius: 50% 50% 0 0 / 70% 70% 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 100px;
}

.mouth-mask {
    border-top: 10px solid #3d3d3d;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.mouth-mask::after,
.mouth-mask::before {
    content: '';
    display: block;
    background: #777;
    width: 2%;
    height: 100%;
}

.created-by {
    position: fixed;
    bottom: 1rem;
}

.created-by * {
    color: var(--suit-soldier-color);
    display: inline-block;
    font-size: 14px;
}

.created-by a {
    text-decoration: underline;
    font-weight: 500;
}